<!-- Any bottom of page footers, links, navbars that exist on every single page go here -->
<!-- Any global in-body scripts go here -->
<!-- <footer>
  <p>This is the bottom nav</p>
</footer> -->

</body>

</html>
