<nav>
  <div class = "links">
    <a href = '/read'>Read</a>
    <a href = '/write'>Write</a>
    <a href = '/write'>Edit</a>
    <a href = '/profile'>Profile</a>
  </div>

  <div class = "access">
    <a href="/login">Log In</a>
    <a href="/logout">Log Out</a>
    <a href="/register">Make New Account</a>
  </div>
</nav>
