<%- include('partials/_header', {title: "Browse Stories - Story Maker"}); %>

<h2>Story Browser</h2>
<!-- This is the browse view that can include the All Stories | My Stories double panel -->

<%- include('partials/_footer'); %>
