<%- include('partials/_header', {title: "Story Maker"}); %>

<div class="container">
  <div class="read-box">
    <h2>this is where all the contributions go ✍</h2>
  </div>
</div>

<%- include('partials/_footer'); %>
