<%- include('partials/_header', {title: "Log In - Story Maker"}); %>

<main>

  <form>
    <label>Email Address</label>
    <input type="email">
    <label>Password</label>
    <input type="password">
    <button>Log In</button>
  </form>

</main>

<%- include('partials/_footer'); %>
