<%- include('partials/_header', {title: "Log In - Story Maker"}); %>

<h2>Log In</h2>

<main>

  <form method="POST" action="/login">
    <label for="email">Email Address</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password" autofill="false">
    <button type="submit">Log In</button>
  </form>

</main>

<%- include('partials/_footer'); %>
