<%- include('partials/_header', {title: "Write Contribution - Story Maker"}); %>
<h2>New Contribution</h2>
<!-- This will be the page where the contributors will write their stories -->
<form>
  <%- include('partials/_text_editor') %>
  <button>Submit</button>
</form>

<%- include('partials/_footer'); %>
