<%- include('partials/_header', {title: "New Story - Story Maker"}); %>

<!-- This will be the page where the users will write their new story -->
<form>
  <%- include('partials/_text_editor') %>
  <button>Submit</button>
</form>

<%- include('partials/_footer'); %>
