<%- include('partials/_header', {title: "Story Maker"}); %>

<h2>Read Story Page</h2>

<!--
  This would be the read view that displays the actual story
  When fetching the information of the story, we will pass the title of the story
  into the title include above, so that it shows up as the browser title
-->

<%- include('partials/_footer'); %>
