<%- include('partials/_header', {title: "Read Stories - Open Book"}); %>

<div class = 'container'>
  <section class = 'all-stories'>
    <h2>All Stories</h2>
    <ul>
      <li>1</li>
      <li>asdfads</li>
      <li>21da</li>
      <li>adsfads</li>
    </ul>
  </section>
  <section class = 'my-stories'>
    <h2>My Stories</h2>
    <ul>
      <li>1</li>
      <li>asdfads</li>
      <li>21da</li>
      <li>adsfads</li>
    </ul>
  </section>
</div>

<%- include('partials/_footer'); %>
