<%- include('partials/_header', {title: "Register - Story Maker"}); %>
<h2>Register</h2>

<main>

  <form method="POST" action="/register">
    <label for="username">Name</label>
    <input type="text" name="username" maxlength="30">
    <label for="email">Email Address</label>
    <input type="email" name="email" maxlength="30">
    <label for="password">Password</label>
    <input type="password" name="password" autofill="false">
    <button type="submit">Log In</button>
  </form>

</main>

<%- include('partials/_footer'); %>
