$background-dark: #050e2b;
$background-light: #0b213b;

$nav-background: #374147;

$text-normal: #9e9d8e;
$text-highlighted: #f7f3df;
$text-faded: #69645f;

$link-normal: #9d759e;
$link-highlighted: #d395f0;
$link-clicked: #6b3b6b;

$text-dark: #161b42;
