.contributions-box {
  display: flex;
  margin: 1em auto;
  flex-wrap: wrap;
  width: 80%;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contribution {
  display: flex;
  padding: 1em;
  flex-direction: column;
  border: 1px solid white;
  height: 15em;
  width: 15em;
  justify-content: center;
  gap: .5em;
}

.plus {
  align-items: center;
}

.plus:hover{
  color: blue;
  border: 1px solid blue;
  cursor: pointer;
}
