// See: https://sass-lang.com/
@use 'variables';

body,
html {
  margin: 0;
  background-color: variables.$background-dark;
  color: variables.$text-normal;
}

a:link {
  text-decoration: none;
  color: variables.$link-normal;
}

a:visited {
  color: variables.$link-normal;
}

a:hover {
  color: variables.$link-highlighted;
}

a:active {
  color: variables.$link-clicked;
}

button {
  color: variables.$link-normal;
  font-size: .5em
}

button:hover {
  color: variables.$link-highlighted;
  cursor: pointer;
}

.mb-20 {
  margin-bottom: 20px;
}

.f-sb {
  display: flex;
  justify-content: space-around;
}
