@use 'variables';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 6em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid variables.$link-normal
}

.links {
  display: flex;
  font-size: 2em;
  padding: 1em;
  display: flex;
  width: 33%;
  justify-content: space-around;
}

.access {
  font-size: 2em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.greeting {
  display: flex;
  font-size: 2em;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: variables.$link-normal;
}

.registry {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.registry label, .registry input, .registry button {
  display: block;
  margin: 10px 0;
}

a:hover {
  color: variables.$link-highlighted
}
