@use 'variables';

.container {
  display: flex;
  flex-grow: 1;
}

.half {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;
  justify-content: center;
  color: variables.$text-normal;
}

.all-stories {
  display: flex;
  gap: 1em;
  background-color: variables.$background-dark;
  justify-content: center;
}

.my-stories {
  background-color: variables.$background-light;
}

.card-box {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.story-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid variables.$text-normal;
  padding: 1em;
  align-items: center;
}

.story-card a{
  font-size: 1.5em;
}

.story-card p{
  font-size: 1em;
  margin: .25em 0;
}

.story-card .description{
  font-size: 1em;
  font-style: italic;
}

#my-stories-cards {
  width: 90%;

  h2, h3, h4 {
    margin: 0.5em;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0%;
    margin: 10px;
  }
  li {
    list-style-type: none;
  }
}
