@use 'variables';

.container {
  display: flex;
  flex-grow: 1;
}

.third {
  display: flex;
  flex-direction: column;
  width: 33.33vw;
  align-items: center;
  justify-content: flex-start;
  color: variables.$text-normal;
  max-height: 100vh"-"6em;
  overflow-y: scroll;
}

.all-stories {
  display: flex;
  gap: 1em;
  background-color: variables.$background-dark;
}

.my-stories {
  gap: 1em;
  display: flex;
  background-color: variables.$background-dark;
}

.card-box {
  display: flex;
  width: 90%;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.story-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid variables.$text-normal;
  padding: 1em;
  align-items: center;
}

.story-card a{
  font-size: 1.5em;
}

.story-card p{
  font-size: 1em;
  margin: .25em 0;
}

.story-card-top {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
}

.story-card .description{
  font-size: 1em;
  font-style: italic;
}

#my-stories-cards {
  width: 90%;

  h2, h3, h4 {
    margin: 0.5em;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0%;
    margin: 10px;
  }
  li {
    list-style-type: none;
  }
}

.my-contributions {
  display: flex;
  flex-direction: column;
}

.contribution-box{
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  gap: 1em;
}

.contribution-card{
  display: flex;
  align-items: center;
  border: 1px;
  border: 1px solid;
  padding: 0 1.5em;
  width: 100%;
  justify-content: space-between;
}

.contribution-card li {
    list-style-type: none;
  }

  .contribution-card a {
    font-size: 1.5em;
  }

.methods {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-items: center;
  gap: .5em;
}

.contribution-action{
  align-items: center;
}
