@use 'variables';

.read-box {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  width: 80%;
  font-size: 1.5em;
}

.story-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.author-date {
  display: flex;
  flex-direction: column;
}

.author-date h3 {
  display: flex;
  flex-direction: column;
  margin: .25em 0;
}

.read-box h2 {
  margin-bottom: 1em;
}

.story-text {
  flex-grow: 1;
  white-space:pre-wrap
}

.chapter-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chapter-navigation ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 1em 0;
  margin: 0;
  width: 100%;
}

.chapter-navigation ol li {
  flex: 1;
  text-align: center;
  padding: 1em;
}

.chapter-navigation ol li a {
  display: inline-block;
  text-decoration: underline;
  white-space: nowrap;
}

.container {
  background-color: variables.$background-dark;
  color: variables.$text-normal;
}
