#story-editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 20px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // justify-content: flex-start;
    // flex-wrap: wrap;
  }

  textarea {
    margin: 30px;
    padding: 8%;
    width: 50vw;
    height: 50vh;
    resize: none;
    border: 2px dotted cornflowerblue;
    outline: none;
  }

  label {
    padding: 5px;
  }

  input, select {
    width: 50%;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    direction: row;
    justify-content: center;
  }
}

#success {
  background-color: lightgreen;
}
#fail {
  background-color: lightpink;
}

