@use 'variables';

#story-editor {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  padding: 20px;


  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  textarea {
    margin: 30px;
    padding: 4em;
    min-width: 30em;
    max-width: 100%;
    height: 50vh;
    resize: none;
    background-color: transparent;
    border: 2px dotted variables.$text-normal;
    outline: none;
    color: variables.$text-normal;
  }

  textarea:hover {
    border: 2px dotted rgb(107, 107, 107,);
  }

  label {
    font-size: 1.5em;
    padding: .75em 0;
    text-align: left;
  }

  input {
    box-shadow: none;
  }

  input, select {
    border: none;
    width: 100%;
    background-color: transparent;
    color: variables.$text-normal;
    border-bottom: 4px solid variables.$text-normal;
    font-size: 1.5em;
  }

  select {
    padding: .25em 0;
  }

  select:hover {
    color: rgb(107, 107, 107,);
    border-bottom: 4px solid rgb(107, 107, 107,);
  }

  input:hover {
    border-bottom: 4px solid rgb(107, 107, 107);
  }

  .variations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  option {
    color: variables.$text-normal;
    font-size: 1em;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: flex;
    direction: row;
    justify-content: center;
  }
}

.action-buttons {
  margin: 2em 0 1em 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.counters{
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: flex-start;
  gap: 3em;
}

button {
  border: none;
  font-size: 1.5em;
  color: variables.$text-normal;;
  background-color: transparent;
  text-decoration: underline;
}

.notification {
  margin: 1.5em;
  padding: 1.5em;
  text-align: center;
  font-size: 24px;
}

#success {
  background-color: #5B8;
  color: #142;
  border: 2px dotted #142;
}
#fail {
  background-color: #B85;
  color: #612;
  border: 2px dotted #612;
}

